<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div class="layui-layout layui-layout-admin">

    <div class="layui-header header">
        <div class="logo">
            <a href="#">codermax</a>
        </div>

        <ul class="layui-nav layui-layout-right" style="margin-right: 20px">
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-content-href="page/user-setting.html" data-title="基本资料"
                           data-icon="fa fa-gears">基本资料</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-content-href="page/user-password.html" data-title="修改密码"
                           data-icon="fa fa-gears">修改密码</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" class="login-out" th:href="@{/admin/logout}">退出登录</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" style="margin-top: 10px">
        <div class="layui-side-scroll layui-left-menu">
            <ul class="layui-nav layui-nav-tree layui-left-nav-tree layui-this" id="currency">
                <li class="layui-nav-item layui-hide-xs layui-this"><a href="" class="nav-li-a"><i
                        class="fa fa-fw fa-home"></i> 仪表盘</a></li>

                <li class="layui-nav-item layui-hide-xs">
                    <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        文章</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="" th:href="@{/admin/blog}">所有文章</a></dd>
                        <dd><a href="" th:href="@{/admin/blog/input}">写文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" class="nav-li-a">
                    <i class="fa fa-tags" aria-hidden="true"></i> 标 签</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="" th:href="@{/admin/tags}">所有标签</a></dd>
                        <dd><a href="" th:href="@{/admin/tags/input}">增加标签</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs"><a href="javascript:;" class="nav-li-a"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> 分 类</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="" th:href="@{/admin/types}">所有分类</a></dd>
                        <dd><a href="" th:href="@{/admin/types/input}">增加分类</a></dd>
                    </dl>

                </li>
                <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i class="fa fa-file-image-o" aria-hidden="true"></i> 图 片</a>
                </li>


            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding-top: 30px">
        <div class="layui-container">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel layui-bg-gray">
                            <div class="panel-body" style="text-align: center">
                                <i class="layui-icon layui-icon-face-smile" style="font-size: 70px; color: #1E9FFF;"></i>
                                <div class="panel-title">
                                    <h5 >访问总数1234</h5>
                                </div>
                                <div class="">
                                    <h1 class="">1234</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel layui-bg-gray">
                            <div class="panel-body" style="text-align: center">
                                <i class="layui-icon layui-icon-praise" style="font-size: 70px; color: #1E9FFF;"></i>
                                <div class="panel-title">
                                    <h5 >点赞个数</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins">1234</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel layui-bg-gray">
                            <div class="panel-body" style="text-align: center">
                                <i class="layui-icon layui-icon-read" style="font-size: 70px; color: #1E9FFF;"></i>
                                <div class="panel-title">
                                    <h5 >文章数目</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins">1234</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel layui-bg-gray">
                            <div class="panel-body" style="text-align: center">
                                <i class="layui-icon layui-icon-read" style="font-size: 70px; color: #1E9FFF;"></i>
                                <div class="panel-title">
                                    <h5 >建站时间</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins">1234</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../../static/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/main.js"></script>
<script type="text/javascript" src="../../static/js/velocity/velocity.min.js"></script>
<script src="../../static/lib/editormd/lib/marked.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>

<script type="text/javascript">
    $('.search-show').bind('click', function () {
        $(this).find('.fa').toggleClass('fa-remove')

        $('body').toggleClass('search-on')

        if ($('body').hasClass('search-on')) {
            $('.site-search').find('input').focus()
            $('body').removeClass('m-nav-show')
        }
    })
</script>
<script type="text/javascript">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', "form"], function () {
        var form = layui.form;
        var element = layui.element;
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

    $('.login-out').on("click", function () {
        layer.msg('退出登录成功', function () {
            window.location = '/page/login-1.html';
        });
    });
</script>
<script language=javascript>
    function siteTime() {
        window.setTimeout("siteTime()", 1000);
        var seconds = 1000;
        var minutes = seconds * 60;
        var hours = minutes * 60;
        var days = hours * 24;
        var years = days * 365;
        var today = new Date();
        var todayYear = today.getFullYear();
        var todayMonth = today.getMonth() + 1;
        var todayDate = today.getDate();
        var todayHour = today.getHours();
        var todayMinute = today.getMinutes();
        var todaySecond = today.getSeconds();
        /* Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
        year - 作为date对象的年份，为4位年份值
        month - 0-11之间的整数，做为date对象的月份
        day - 1-31之间的整数，做为date对象的天数
        hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
        minutes - 0-59之间的整数，做为date对象的分钟数
        seconds - 0-59之间的整数，做为date对象的秒数
        microseconds - 0-999之间的整数，做为date对象的毫秒数 */
        var t1 = Date.UTC(2019, 10, 29, 00, 00, 00); //北京时间2016-12-1 00:00:00
        var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
        var diff = t2 - t1;
        var diffYears = Math.floor(diff / years);
        var diffDays = Math.floor((diff / days) - diffYears * 365);
        var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
        var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) / minutes);
        var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours - diffMinutes * minutes) / seconds);
        document.getElementById("sitetime").innerHTML = " 已运行" + diffYears + " 年 " + diffDays + " 天 " + diffHours + " 小时 " + diffMinutes + " 分钟 " + diffSeconds + " 秒";
    }

    siteTime();
</script>
<script type="text/javascript">

    var contentEditor;
    // 初始化Markdown编辑器
    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 800,
            syncScrolling: "single",
            path: "../lib/editormd/lib/"
        });
    });

</script>

</body>
</html>