<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/me.css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>

    <link type="text/html" rel="stylesheet" href="/lib/editormd/css/editormd.css"/>

</head>
<body>

<div class="layui-header header">

    <div class="layui-main">
        <a class="logo" href="https://www.echo.so/">jacoderpy</a>

        <ul class="layui-nav">

            <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i
                    class="fa fa-fw fa-home"></i> 首 页</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i class="fa fa-fw fa-archive"></i> 归 档</a>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i class="fa fa-paint-brush"
                                                                                    aria-hidden="true"></i> 个人项目</a>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i class="fa fa-fire"
                                                                                    aria-hidden="true"></i> 点击排行</a>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="" class="nav-li-a"><i class="fa fa-fw fa-user"></i> 关
                于</a></li>
            <li class="layui-nav-item navto-search"><a href="javascript:;" class="search-show active nav-li-a">
                <i class="fa fa-search"></i> 搜 索
            </a></li>

            <li class="layui-nav-item nav-btn layui-hide-sm">
                <a href="javascript:;">
                    <i class='layui-icon layui-icon-more'></i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="" class="nav-li-a"><i class="fa fa-fw fa-home"></i> 首页</a></dd>
                    <dd><a href="" class="nav-li-a"><i class="fa fa-fw fa-archive"></i> 归档</a></dd>
                    <dd><a href="" class="nav-li-a"><i class="fa fa-paint-brush" aria-hidden="true"></i> 个人项目</a></dd>
                    <dd><a href="" class="nav-li-a"><i class="fa fa-fire" aria-hidden="true"></i> 点击排行</a></dd>

                    <dd><a href="" class="nav-li-a"><i class="fa fa-fw fa-user"></i> 关于</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>

<div class="site-search">
    <div class="container">
        <form method="get" class="site-search-form" action="https://www.huangguorui.cn/">
            <input class="search-input" name="s" type="text" placeholder="输入关键字" value="">
            <button class="search-btn" type="submit" style="float: right"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>


<div class="layui-container">
    <div class="layui-row layui-col-space15 main">
        <div class="layui-col-md9 layui-col-lg9">
            <div class="title-article">
<!--                <img src="images/about.png" class="img-full" style="width: 100%; padding-top: 10px" alt="">-->
                <h1 class="text-center">关于</h1>
                <div class="text" itemprop="articleBody">
                    <div id="md_content_2" class="md_content" style="min-height: 50px;"><textarea id="append-test" style="display:none;">94年不甘现状而又无力改变的孤狼一条:pensive:

### 个人信息
- 昵称：宁采陈
- 职业：攻城狮
- 城市：大南宁

### 建博初衷

平常开发中经常会遇到一些问题难点,而好不容易解决之后，却懒得做笔记，所以常常隔一段时间后，相同或者相似的问题再重现时，又刚好把之前的解决方案忘得差不多了。常言道:"好记性不如烂笔头"确实如此，每当此时我都后悔当初没有记录下来，所以趁着五一放假时间还是抽空搭建了个博客出来，用作平常记录之用。希望此博给我提供便利之余，也能给大家一些或多或少的帮助！

### 联系方式
admin@echo.so</textarea></div>
                </div>

                <p class="m-text">一个二次元宅男，一个终身学习者，誓将学习无限循环. 希望结识可以共同成长的小伙伴.</p>
                <p class="m-text">一个编程弱鸡，但热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
            </div>
        </div>


        <div class="sidebar layui-col-md3 layui-col-lg3">


            <div class="info">
                <div class="author-photo">
                    <img class="author-image" itemprop="image"
                         src="https://d33wubrfki0l68.cloudfront.net/2959dbc97f31c80283e67104fe0854e2369e40aa/19f61/images/apple-touch-icon-next.png"
                         alt="Theme NexT">

                    <div class="author motion-element">
                        <br>
                        <p class="author-name">jacoderpy</p>
                        <br>
                    </div>

                    <div class="author-info">
                        <div class="author-info-per">
                            <span class="author-info-per-count">4</span>
                            <span class="author-info-per-name">访问人数</span>
                        </div>
                        <div class="author-info-per">
                            <span class="author-info-per-count">3</span>
                            <span class="author-info-per-name">&nbsp文章总数</span>
                        </div>

                        <div class="author-info-per">
                            <span class="author-info-per-count">2019-10-26</span>
                            <span class="author-info-per-name">建站时间</span>
                        </div>
                    </div>

                </div>

            </div>


            <div class="column">
                <h3 class="title-sidebar"><i class="layui-icon">&#xe705;</i> 栏目分类</h3>
                <ul class="layui-row layui-col-space5">
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/life/"><i
                            class="layui-icon">&#xe63c;</i>
                        心情随笔<span class="layui-badge layui-bg-gray">2</span></a></li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/technique/"><i
                            class="layui-icon">&#xe63c;</i> 技术杂谈<span class="layui-badge layui-bg-gray">3</span></a>
                    </li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/php/"><i
                            class="layui-icon">&#xe63c;</i>
                        PHP<span class="layui-badge layui-bg-gray">4</span></a></li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/python/"><i
                            class="layui-icon">&#xe63c;</i> Python<span class="layui-badge layui-bg-gray">2</span></a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h3 class="title-sidebar"><i class="layui-icon">&#xe756;</i> 点击排行</h3>
                <ul class="layui-row layui-col-space5">
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/life/"><i
                            class="layui-icon">&#xe63c;</i>心情随笔</a></li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/technique/"><i
                            class="layui-icon">&#xe63c;</i>技术杂谈</a>
                    </li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/php/"><i
                            class="layui-icon">&#xe63c;</i>PHP</a></li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/python/"><i
                            class="layui-icon">&#xe63c;</i>Python</a>
                    </li>
                    <li class="layui-col-md12 layui-col-xs6"><a href="https://www.echo.so/category/python/"><i
                            class="layui-icon">&#xe63c;</i>Python</a>
                    </li>
                </ul>
            </div>
            <div class="tags">
                <h3 class="title-sidebar"><i class="layui-icon">&#xe66e;</i>标签云</h3>
                <div>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(3, 241, 166)"
                       href="https://www.echo.so/tag/MySQL/" title='MySQL'>MySQL</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(176, 182, 174)"
                       href="https://www.echo.so/tag/%E5%A4%A7%E7%AB%AF%E5%AD%97%E8%8A%82%E5%BA%8F/"
                       title='大端字节序'>大端字节序</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(5, 74, 116)"
                       href="https://www.echo.so/tag/typecho/" title='typecho'>typecho</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(156, 221, 49)"
                       href="https://www.echo.so/tag/Flask/" title='Flask'>Flask</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(161, 204, 105)"
                       href="https://www.echo.so/tag/%E5%B0%8F%E7%AB%AF%E5%AD%97%E8%8A%82%E5%BA%8F/"
                       title='小端字节序'>小端字节序</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(183, 19, 78)"
                       href="https://www.echo.so/tag/python/" title='python'>python</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(37, 104, 110)"
                       href="https://www.echo.so/tag/%E7%BB%8F%E7%BA%AC%E5%BA%A6/" title='经纬度'>经纬度</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(230, 167, 79)"
                       href="https://www.echo.so/tag/PHP/" title='PHP'>PHP</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(152, 48, 96)"
                       href="https://www.echo.so/tag/Django/" title='Django'>Django</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(16, 244, 85)"
                       href="https://www.echo.so/tag/PHPExcel/" title='PHPExcel'>PHPExcel</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(209, 237, 150)"
                       href="https://www.echo.so/tag/Selenium/" title='Selenium'>Selenium</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(7, 226, 9)"
                       href="https://www.echo.so/tag/%E5%AD%97%E8%8A%82/" title='字节'>字节</a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" style="color: rgb(217, 86, 159)"
                       href="https://www.echo.so/tag/%E5%AD%97%E8%8A%82%E5%BA%8F/" title='字节序'>字节序</a>
                </div>
            </div>


            <div class="column">
                <h3 class="title-sidebar"><i class="layui-icon">&#xe650;</i> 关注我</h3>

                <ul class="nav nav-pills" role="tablist">
                                    <span class="links-of-author-item">
                                        <a href="https://github.com/" target="_blank" title="coderpy@163.com">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>邮箱

                                        </a>
                                    </span>
                    <span class="links-of-author-item">
                                        <a href="https://github.com/" target="_blank" title="暂无">
                                            <i class="fa fa-weixin" aria-hidden="true"></i>公众号
                                        </a>
                                    </span>
                    <span class="links-of-author-item">
                                    <a href="#" target="_blank" title="1984392430">
                                        <i class="fa fa-qq" aria-hidden="true"></i>QQ号
                                    </a>
                                    </span>
                    <span class="links-of-author-item">
                                    <a href="https://github.com/" target="_blank" title="GitHub">
                                        <i class="fa fa-github" aria-hidden="true"></i>GitHub
                                    </a>
                                     </span>

                </ul>


            </div>

        </div>
    </div>


</div>

<div class="back-to-top">
    <i class="fa fa-arrow-up"></i>
    <span id="scrollpercent"><span>0</span>%</span>
    &nbsp;

    </span>
</div>
<div class="footer">
    <div class="layui-col-md12 t-copy">
        <span class="layui-breadcrumb">
            <span>Copyright &copy; 2019 <a href="https://www.echo.so/">jacoderpy 个人博客</a></span>
        </span>
    </div>
</div>


<script src="layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/velocity/velocity.min.js"></script>


<script src="lib/editormd/lib/marked.min.js"></script>
<script src="lib/editormd/editormd.min.js"></script>

<script type="text/javascript">

    $(function () {
        var markdowns = document.getElementsByClassName("md_content");
        $(markdowns).each(function () {
            var markdown = $(this).children("#append-test").text();
            //$('#md_content_'+i).text('');
            var editormdView;
            editormdView = editormd.markdownToHTML($(this).attr("id"), {
                markdown: markdown,//+ "\r\n" + $("#append-test").text(),
                toolbarAutoFixed: false,
                htmlDecode: true,
                emoji: true,
                tex: true,
                toc: true,
                tocm: true,
                taskList: true,
                flowChart: false,
                sequenceDiagram: false,
            });
        });
    });


</script>


<script type="text/javascript">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element'], function () {
        var element = layui.element;
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>